[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-jwt-extended = "*"
requests = "*"

[dev-packages]
zappa = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true